# Token Bot Telegram (Dapat dr @BotFather)
BOT_TOKEN=7081327890:AAGhf5S0Ev1Glfak9VOHf6c5AnKPBwsoKIs

# Database Torso (LibSQL)
# Dapatkan URL dan Token dari Dashboard Torso -> Connect
TURSO_DATABASE_URL=libsql://botcanva-vlesskuyu.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3Njc4NTIyMzMsImlkIjoiNGY1ZWQ1NjAtMGEzZS00ZGIzLTkzMDUtMzM1YTQ2MjhmNjYxIiwicmlkIjoiMmU5MWQwYWEtZWM4Ni00NDJmLTkwNjYtOTgzMDgxMDRkMTIyIn0.i78RWCQfNathY5_CW3kXUxg0S1WfFPTWGpmje_d4exhbvPj2luv1qRnbopYQ7B8wdVqKlqRY3CEmaiWq-RbHDQ

# ID Admin Telegram (Untuk akses menu admin)
# Dapatkan dengan forward pesan ke @userinfobot
ADMIN_ID=6242090623

# ID Channel Laporan (Opsional, untuk log transaksi)
# Pastikan bot dijadikan admin di channel tersebut
ADMIN_CHANNEL_ID=-1001767672802

# [OPSIONAL] Login Canva dengan Email/Password
# Jika diisi, bot akan mencoba login manual. Jika kosong, pakai Cookie dari DB.
CANVA_EMAIL=manulsinul99@gmail.com
CANVA_PASSWORD=anjing23@

# Path Chrome (Opsional jika pakai Local Bot)
# Chrome lokal diprioritaskan. Jika tidak terdeteksi, isi CHROME_BIN di bawah ini.
# CHROME_BIN=C:\Program Files\Google\Chrome\Application\chrome.exe
